* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.menu-container {
  color: #fff;
  
  background-color:  #1F2937;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;  
  position: relative;
}
.header-logo{
  position: relative;
  display: flex;
  background-color:  #1F2937;
  width: 120px;
  height: 120px;
  left: 10px;
  bottom: -10px;
  margin-right: auto;

}

.menu {
  position: relative;
  width: 900px;
  display: flex;
  justify-content: flex-end;
  color: #E5E7EB;
  font-size: 18px;
  padding: 10px;
  top: -85px;
  right:20px;
  font-family: 'Roboto', arial;
}


.menu-text{
  margin-left: 15px;
  color: white;
  bottom: 100px;
  order: 1;
  flex: 0 1 auto;
  align-self: flex-end;
}

.menu-text a {
  margin-left: 15px;
  color: white;
  bottom: 100px;
  order: 1;
  flex: 0 1 auto;
  align-self: flex-end;
}

.intro-part {
  border: #E5E7EB;
  display: flex;
  color: #F9FAF8;
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  padding: 45px;
}

.intro-leftColumn {
  flex-basis: 400px;
  display: flex;
  position: relative;
  top: 90px;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  margin-right: 50px;
}

h1 {
  font-size: 48px;
  position: relative;
  font-weight: bold;
  color: #F9FAF8;
  margin: 0;
  top: -110px;
  font-family: 'Roboto', arial;
  
}

.intro-leftColumn p {
  font-family: 'Roboto', arial;
  position: relative;
  top: -100px;
  opacity: 0.7;
}

.intro-part button {
  display: block;
  text-align: center;
  position: relative;
  width: 110px;
  border: none;
  background: #3882f6;
  padding: 10px;
  border-radius: 8px;
  top: -80px;
  color: #fff;
  font-family: 'Roboto', arial;
  text-decoration: none;
  font-weight: bold;
}

.intro-rightColumn img {
  width: 350px;
  height: 350px;

}

/*reviews part */

.reviews-part {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', arial;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.reviews {
  display: flex;
  /* border: 1px solid gold; */
  justify-content: center;
  flex-wrap: wrap;
}

.reviews img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #3882F6;
  border-radius: 15px;
  margin: 5px 20px 0px 20px;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*quote part */

.quote-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #E5E7EB;
  align-items: center;
  justify-content: center;
  padding: 0 200px;
}

.quote-part p {
  font-size: 36px;
  color: #1F2937;

  font-style: italic;
  font-weight: lighter;
  font-family: 'Roboto', arial;
  
  
}

.quote-part b {
  padding-bottom: 20px;
  padding-right: 10px;
  font-family: 'Roboto', arial;
  text-align: right;
}


/* Sign Up Part */
.sign-up-part {
  border: red;
  background-color: #3882F6 ;
  margin: 50px 200px;
  padding: 10px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border-color: none;
}

/* sign up part */
.sign-item {
  flex: 1;
}

.signs-text {
  text-align: left;
}

.signs-text p {
  border: red;
  color: #fff;
  opacity: 0.7;
  margin: 5px 30px 30px 50px;
}

h3 {
  color: #fff;
  font-family: 'Roboto', arial;
  padding: 0;
  margin: 30px 0px 0px 50px;
}

.signs-button button {
  color: #fff;
  display: flex;
  position: relative;
  font-family: 'Roboto', arial;
  right: -200px;
  border-color: #fff;
  border-radius: 8px;
  background-color: #3882F6;
  padding: 5px 25px;
  justify-content: flex-end;
  
  font-size: 15px;
}


/* footer */
.footer {
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Roboto', arial;
  display: flex;
  flex-wrap: wrap;


}

h4 {
  display: block;
  font-size: 1.25em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

