* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.menu-container {
  color: #fff;
  
  background-color:  #1F2937;  /* Blue */
  padding: 20px 0;
  display: flex;
  justify-content: center;  
  position: relative;
}
.header-logo{
  position: relative;
  display: flex;
  background-color:  #1F2937;
  width: 120px;
  height: 120px;
  left: 10px;
  bottom: -10px;
  margin-right: auto;

}

.menu {
  position: relative;
  width: 900px;
  display: flex;
  justify-content: flex-end;
  color: #E5E7EB;
  font-size: 18px;
  padding: 10px;
  top: -85px;
  right:20px;
  font-family: 'Roboto', arial;
}


.menu-text{
  margin-left: 15px;
  color: white;
  bottom: 100px;
  order: 1;
  flex: 0 1 auto;
  align-self: flex-end;
}

.menu-text a {
  margin-left: 15px;
  color: white;
  bottom: 100px;
  order: 1;
  flex: 0 1 auto;
  align-self: flex-end;
}

.intro-part {
  border: #E5E7EB;
  display: flex;
  color: #F9FAF8;
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  padding: 90px;
}




